{% if site.social.twitter %}

    <a href="{{ site.social.twitter }}"  data-uk-icon="icon: twitter" class="uk-icon-button uk-icon" target="_blank" style="padding-left: 5em; ratio: 2"></a>

{% endif %}
{% if site.social.facebook %}

    <a href="{{ site.social.facebook }}" data-uk-icon="icon: facebook" class="uk-icon-button uk-icon" target="_blank" style="padding-left: 5em;"></a>

{% endif %}
{% if site.social.flickr %}

    <a href="{{ site.social.flickr }}" data-uk-icon="icon: flickr" class="uk-icon-link uk-icon" target="_blank" style="padding-left: 5em;"></a>

{% endif %}
{% if site.social.dribbble %}

    <a href="{{ site.social.dribbble }}" data-uk-icon="icon: dribbble" class="uk-icon-link uk-icon" target="_blank" style="padding-left: 5em;"></a>

{% endif %}
{% if site.social.instagram %}

    <a href="{{ site.social.instagram }}" data-uk-icon="icon: instagram" class="uk-icon-link uk-icon" target="_blank" style="padding-left: 5em;"></a>

{% endif %}
{% if site.social.googleplus %}

    <a href="{{ site.social.googleplus }}" data-uk-icon="icon: google-plus" class="uk-icon-link uk-icon" target="_blank" style="padding-left: 5em;"></a>

{% endif %}
{% if site.social.linkedin %}

    <a href="{{ site.social.linkedin }}" data-uk-icon="icon: linkedin" class="uk-icon-link uk-icon" target="_blank" style="padding-left: 5em;"></a>

{% endif %}
{% if site.social.pinterest %}

    <a href="{{ site.social.pinterest }}" data-uk-icon="icon: pinterest" class="uk-icon-link uk-icon" target="_blank" style="padding-left: 5em;"></a>

{% endif %}
{% if site.social.vimeo %}

    <a href="{{ site.social.vimeo }}" data-uk-icon="icon: vimeo" class="uk-icon-link uk-icon" target="_blank" style="padding-left: 5em;"></a>

{% endif %}
{% if site.social.youtube %}

    <a href="{{ site.social.youtube }}" data-uk-icon="icon: youtube" class="uk-icon-link uk-icon" target="_blank" style="padding-left: 5em;"></a>

{% endif %}
{% if site.social.github %}

    <a href="{{ site.social.github }}" data-uk-icon="icon: github" class="uk-icon-link uk-icon" target="_blank" style="padding-left: 5em;"></a>

{% endif %}
{% if site.social.email %}

    <a href="{{ site.social.email }}" data-uk-icon="icon: mail" class="uk-icon-link uk-icon" target="_blank" style="padding-left: 5em;"></a>

{% endif %}
{% if site.social.website %}

    <a href="{{ site.social.website }}" data-uk-icon="icon: link" class="uk-icon-link uk-icon" target="_blank" style="padding-left: 5em;"></a>

{% endif %}
