button {
    border-radius: 5px;
    border-color: rgb(140,29,64);
    background-color: transparent;
}

button:hover {

    background-color: rgb(255, 198, 39);
}

table#t02 th {
    font-size: 1.5em;
    color: #5e5e5e;
    background: transparent;
    text-align: left;
}
    
h1, h2 {
    padding-bottom: .2em;
}
h1 {
    margin: 1em 0 1rem;
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
    margin: 1em 0 1rem;
}
h3 {
    font-size: 1.5em;
    color: #5e5e5e;
    margin: 1em 0 1rem;
}
h4 {
    font-size: 1em;
    margin: 1em 0 1rem;
}